
  
    <ion-header>
      <ion-toolbar>
        <ion-title>Demo App</ion-title>
        <!-- Side menu button -->
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>


<ion-content >
 
  <ion-card>
    <ion-card-title class="ion-text-center">
      <ion-item>
        <h4>Welcome :{{username}} </h4> 
        
      </ion-item>

    </ion-card-title>
    <ion-card-content class="ion-text-center">

      <ion-grid>
        <ion-row>
          <ion-col offset-lg="4" offset-md="4" size-lg="4" size-md="4" size-sm="4">
            <p>
              This is dash board of app
            </p> 
          </ion-col>
        </ion-row>
      </ion-grid> 
    
        
    
        
    </ion-card-content>
  </ion-card>
  
</ion-content>




